<div class="col-md-3">
  <div class="field">
      <%= f.label 'Profile Photo', class: "form-label" %><br><i>(for best results, upload 300x300px)</i><br>
      <%= f.file_field :picture, class: "form-label" %>
    </div>
</div>