<div class="home-page-background">
  <div class="container action-header">
    <h2>Artist Home</h2>
  </div>
  <%= link_to 'Upload new image', new_artist_work_path(@artist), class: "btn btn-success btn-lg hpbutton" %>
</div>
