    <h2>Artist Home</h2>
  <div>
   <% # raise %>
  <%= link_to 'Upload new image', new_artist_work_path(@artist), class: "btn btn-success btn-lg hpbutton" %>
</div>

<% @artist.works.each do |work| %>
  <%= link_to (image_tag work.image.url(:small)), artist_work_path(@artist, work.id) %>
<%end%>