

$('#hover-output').html('<h3>Artist: <%= @artist.username.titleize %></h3><br>' + '<div><%= j image_tag @work.image.url(:small) %></div>');



// var img = document.createElement("img");
// img.src = <%= image_tag @work.image.url %>;

// var src = document.getElementById("hover-output");
// src.appendChild(img);


// $('#task-form').html("<%= j (render 'get_work_data') %>");
// $('#task-form').slideDown(350);