<div class="search-page-background">
	<div class="container">

		<h2>works</h2>
		<% @works.each do |work| %>
			<div><%= work.title %> </div>
		<% end %>
		<p>_______________________________</p>

		<h2>artists</h2>
		<% @artists.each do |artist| %>
			<div><%= User.find(artist.id).username %> </div>
		<% end %>

		<p>_______________________________</p>

		<h2>venues</h2>
		<% @venues.each do |venue| %>
			<div><strong><%= venue.name.camelize %></strong>, <%= venue.city %> </div>
		<% end %>








		
	</div>
</div>