<h1>Works</h1>
<% @works.each do |work| %>

  <%= work.title %>
  <br>
<% end %>

<h1>Artists</h1>
<% @artists.each do |artist| %>

  <%= artist.username %>
  <br>
<% end %>

<h1>Users</h1>
<% @users.each do |user| %>

  <%= user.username %>
  <br>
<% end %>