<script type="text/javascript" charset="utf-8">
  $(window).load(function() {
        $('#gallery').finalTilesGallery({
            //eventually add options here
        });
    });
</script>

<div class="user-page-background">
  <div class="col-sm-6 col-md-11 col-lg-12">
    <div class="round-image-50"><%= image_tag(current_user.photo.url(:thumb)) %>
    </div>  
    <%= @user.username %>
  </div>
  <% if @user == current_user %>
    <%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-success btn-lg user-button col-md-1" %>
  <% end %> <br/>
  <div id="gallery">
    <div class="ftg-items">
      <% if @mosaic %>
        <% @mosaic.each do |tile| %>
          <div class="tile">
            <%= image_tag tile.image.url(:small), class: "item" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div> 
</div>


  