<h1>Venues#show</h1>


<div class='geocoding'>
  <div>
    <form>
      Full Address: <br>
      <input type='text' name='full-address'>
    </form>
    <h4>Lat and Long:</h4> <br>
    <h5 id='geo-output'></h5>
  </div>







</div>