<h1>Venues#show</h1>


<div class='geocoding'>


  <div>
    <h3 id='demo'></h3>

    <!-- <h3>
    <strong><%= Venue.second.latitude %>
    <%= Venue.second.longitude %></strong>
    </h3> -->

  </div>

</div>

<script>
$(function() {
  // alert("document ready occurred!");

  function showPosition(position) {
      console.log( 'Im working also!!!!!')
      $( '#demo').html( "Latitude: " + position.coords.latitude + 
      "<br>Longitude: " + position.coords.longitude ); 
  };
  // var x = document.getElementById("demo");
  function getLocation() {
      console.log( 'Im working!!!!!')
      if (navigator.geolocation) {
        console.log( 'hummina hummina');
          navigator.geolocation.getCurrentPosition(showPosition, error);
      } else {
          $( '#demo').html( "Geolocation is not supported by this browser." );
      };
  };

  function error(err) {
    console.warn('ERROR(' + err.code + '): ' + err.message);
  };


  getLocation();

});
</script>


<!-- 
<script type="text/javascript">

$( '#submitAddress' ).click( function() {
  <% result = request.location %>
  
  $( '#geo-output' ).html( <%= result %> );
});

</script> -->