@import "bootstrap-sprockets";
@import "bootstrap";

img.logo {
  margin-top: 20px;
  margin-left: 30px;
}

.logo{
  width: 150px;
}

.hpbutton{
  margin: 0em 3em 1em  3em;
}

body{
  padding-top: 70px;
}

.modal-body {
	text-align: center;
}
