@import "bootstrap-sprockets";
@import "bootstrap";


.my-image{
  width: 65%;
  height: 70%;
  margin: 0 auto;
}

.modal-body {
	text-align: center;
}

.logo{
  width: 150px;
}

.hpbutton{
  margin: 0em 3em 1em  3em;
}

body{
  padding-top: 70px;
}
